.study-wrap {
  position: relative;
  .studyList {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 410px;
    .studyItem {
      position: relative;
      width: 100%;
      max-width: 654px;
      height: 110px;
      margin: 0 auto 20px;
      background: #fff;
      border: 1px solid #ebebeb;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      cursor: pointer;
      .studyItem-title {
        position: absolute;
        width: 60%;
        left: 24px;
        top: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        @include sellipsis;
      }
      .studyItem-creator {
        position: absolute;
        top: 14px;
        right: 19px;
        & > * {
          font-size: 12px;
          line-height: 18px;
        }
        dt {
          float: left;
        }
        dd {
          float: right;
          margin-left: 17px;
        }
      }
      .studyItem-participants {
        position: absolute;
        right: 19px;
        top: 39px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
      }
      .studyItem-stacks {
        position: absolute;
        bottom: 17px;
        left: 24px;
        display: flex;
        li {
          box-sizing: border-box;
          width: 75px;
          height: 25px;
          margin-right: 9px;
          padding: 0 5px;
          text-align: center;
          background: $mainColor;
          border-radius: 5px;
          font-size: 10px;
          line-height: 25px;
          @include sellipsis;
        }
        .studyItem-stacks-hidden {
          position: relative;
          top: 5px;
          font-size: 13px;
        }
      }
      .studyItem-term {
        position: absolute;
        bottom: 17px;
        right: 56px;
        font-size: 14px;
        line-height: 21px;
      }
      .studyItem-like {
        position: absolute;
        bottom: 17px;
        right: 19px;
        width: 24px;
        height: 24px;
        border-radius: 50%;

        .bookmark-icon {
          font-size: 25px;
        }
      }
      &:hover {
        transform: scale(1.003);
      }
    }
  }
  & > .no_result {
    display: none;
    @include position-center;
  }
}

@media (max-width: 480px) {
  .study-wrap {
    position: static;
    .studyList {
      min-width: 325px;
      .studyItem {
        .studyItem-title {
          font-size: 14px;
          width: 60%;
          left: 14px;
          top: 5px;
        }
        .studyItem-creator {
          top: 10px;
          right: 10px;
          dd {
            margin-left: 5px;
          }
          & > * {
            font-size: 10px;
          }
        }
        .studyItem-stacks {
          left: 14px;
          bottom: 45px;
          li {
            width: 70px;
            margin-right: 5px;
          }
        }
        .studyItem-term {
          left: 14px;
          bottom: 10px;
        }
        .studyItem-like {
          right: 10px;
          bottom: 10px;
        }
        .studyItem-participants {
          right: 10px;
          top: 40px;
          font-size: 13px;
        }
      }
    }
  }
}
