.study-detail-ir {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}

.study-detail-container {
  //margin-top: 250px; //nav bar height
  margin: 0 auto;
  width: 50%;
  margin-top: 150px;
  margin-bottom: 80px;

  header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.7rem;
      font-weight: 700;
    }

    .icon-box {
      .heart-icon {
        margin-right: 10px;
        width: 22px;
        height: 22px;
      }

      .bookmark-icon {
        height: 22px;
      }
    }
  }

  .stack-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .stack-boxs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        font-size: 12px;
        width: 75px;
        height: 25px;
        margin-right: 10px;
        text-align: center;
        background-color: $yellow;
        border-radius: 5px;
        line-height: 25px;
      }
    }

    .join-study {
      width: 100px;
      height: 30px;
      background: #01b774;
      color: $white;
      border-radius: 5px;
      border: none;
    }
  }
  .study-info { 
    margin: 20px 10px 30px 10px;
    div {
      margin: 10px 0;
      dt {
        width: 60px;
        font-size: 14px;
        line-height: 1.1;
      }
    }
    & div:first-child {
      display: flex;
      margin-top: 10px;
      dt {
        margin-right: 10px;
        margin: 5px 10px 0 0;
        color: #888888;
      }
      dd {
        margin-top: 5px;
      }
    }
    & div:nth-child(2) {
      display: flex;
      align-items: center;
      dt {
        margin: 5px 10px 0 0;
        color: #888888;
      }
      dd {
        margin: 5px 45px 0 0;
      }
    }
  }
  hr {
    border: 0.5px solid #ebebeb;
  }
  .study-content {
    margin-top: 50px;
    p {
      margin-top: 20px;
      line-height: 1.5;
    }
  }

  .comment-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .comment-box {
      width: 100%;
      height: 4rem;
      border-radius: 5px;
      margin: 10px 0 10px 0;
    }
  }

  // 댓글 리스트 
  .comment-list-container {
    margin-top: 30px;
    width: 100%;
    height: auto; 
    .comments { 
      width: 100%;
      display: flex; 
      justify-content: space-between;
      align-items: center;
    }
    .user-info {
      display: flex;
      align-items: center;
        .image-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          border-radius: 50px;
          overflow: hidden;
          img {
            width: 100px;
            height: auto;
          }     
        }
        & p:nth-child(2) {
          font-size: 16px;
          font-weight: 700;  
          margin: 0 10px;
        }
        & p:last-child {
          margin-top: 2px;
          font-size: 14px;  
          color: #888;  
        }
    }
    .comment-control  { 
      a { 
        font-size: 14px;
      }
      & a:first-child { 
        margin-right: 10px;
      }
    }
    .user-comment {
      box-sizing: border-box;
      width: 100%;
      padding: 0 0 0 35px;
      p {
        font-size: 14px;
        color: #888;
        line-height: 1.5;
      }
    }
  }

  .enrollment-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .enrollment {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 30px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 490px;
  height: 300px;
  text-align: center;

  p {
    font-size: $font-20;
    font-weight: bold;
    line-height: 5;
  }
  .modal-button {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 40px;
    border-radius: 35px;
    border-style: none;
    font-size: $font-14;
    font-weight: bold;
    cursor: pointer;
  }
  .modal-button.yes {
    background-color: #f25c05;
    color: white;
    margin-top: 60px;
  }
  .modal-button.no {
    background-color: #ebebeb;
    color: $dark-gray;
    margin-top: 15px;
  }
}
.modal.on {
  display: block;
}
