.main-footer {
  width: 100%;
  height: $footer-height-desktop;
  background: #888;
  text-align: center;
  @include flex-center;
}

@media (max-width: 480px) {
  .main-footer {
    height: $footer-height-mobile;
    font-size: 0.8rem;
  }
}
