.mypage-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px; 
    width:400px; 
    min-width: 400px;
    height: 500px;
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 80px; 
    position: relative; 
 .profile-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 200px; 
  .image-wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 130px;
    overflow: hidden;
    .user-image {
      width: 300px;
    }
  }
 }
 .profile-data-container {
   position: absolute; 
   left: 80px;
    top: 200px;
  display: flex; 
  flex-direction: column;  
  width: 60%;   
  .user-name-container{
    position: relative; 
    height: 50px;
    .input-name {    
      width: 100%; 
      box-sizing: border-box;
      margin: 10px 0;
      .nickname-label {
        height: 20px;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .nickname {
      display: none;
      position: absolute;
      top: 0;
      left: 100px;
      background: #FFF; 
      width: 100%;
      border: 1px solid #ebebeb;
      height: 30px;
      width: 150px;
      border-radius: 5px;
      padding: 5px;
      font-size: 14px;
      line-height: 2;
    }
    .nickname.on {
      display: block; 
    }
  }
  .user-location-container{
    position: relative;
    .user-location {
      dt, dd {
        margin: 10px 0;
        display: inline-block;
      }
      dt {
        font-size: 12px; 
        margin-right: 10px;
        color: #999;
      }
    }
    .button-location {  
      display: none;
      position: absolute;
      top: 0;
      left: 100px;
      width: 150px;
      height: 35px;
      background-color: #EBEBEB;
      color: $dark-gray;
      font-size: $font-14;
      border-radius: 10px;
      border: none;
      text-align: center; 
      margin-bottom: 5px 0 ;
      cursor: pointer; 
      i{
        float: right;
        margin-right: 5px;
      }
    }
    .button-location.on{
      display: block;
    }
    .selections-location {
      display: none;   
      position: absolute;
      left:100px; 
      margin-top: 5px;
      width: 150px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 5px;
      height: 150px;
      overflow-y: scroll;
      .locations {
        width: 100%;
        height: 30px;
        margin: 0;
        background-color: transparent;
        .location {
          width: 100%;
          height: 30px;
          background-color: transparent;
          border-style: none;
          cursor:pointer;
        }
      }
      .locations:hover {
        background-color:#ebebeb;
      }
    }
    .selections-location.on{
      display: block;
      z-index: 20;
    }

  }
   .fav-stack {
    font-size: 12px; 
    margin: 10px 0;
    margin-right: 10px;
    color: #999;
   }
   .tags.stack-type {
     display: flex; 
     flex-wrap: wrap; 
     width: 120%;

     li{
       font-size: 10px;
       width: 75px;
       height: 25px;
       background-color: #ffc971;
       border-radius: 5px;
       text-align: center;
       line-height: 2.7;
       margin: 5px 5px 5px 0 ;
     }
   }
   .fav-select-box{
     position: relative;

     .select-box { 
      display: none;
      width: 220px;
      height: 35px;
      background-color: #EBEBEB;
      color: $dark-gray;
      font-size: $font-14;
      border-radius: 10px;
      border: none;
      text-align: center; 
      margin-bottom: 5px 0 ;
      cursor: pointer; 
      i{
        float: right;
        margin-right: 5px;
      }
    }
    .select-box.on {
      display: block;
    }

    .selection-stack {  
      display: none;
      position: absolute;
      left:0; 
      margin-top: 5px;
      width: 220px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 5px;
      .stacks {
        width: 100%;
        height: 30px;
        margin: 0;
        background-color: transparent;
        .selections {
          width: 100%;
          height: 30px;
          background-color: transparent;
          border-style: none;
          cursor:pointer;
        }
      }
      .languages:hover {
        background-color:#ebebeb;
      }
    }
    .selection-stack.on{
      display: block;
    }

   }
}
.fav-select-box.on {
  display: block;
}
.button-wrapper{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  .button-edit, .button-save { 
    font-size: 14px;
    width: 75px;
    height: 40px;
    background-color: #ebebeb;
    border-style: none;
    margin-right: 5px;
    color: #666;
    border-radius: 40px;
    cursor: pointer;
  } 
  .button-save {
    color: #FFF;
    width: 100px;
    background-color: #01B774;
    margin-left: 10px;
  }
  .button-edit:hover, .button-save:hover {
    opacity: 0.5;
  }
}
}
