// colors
$yellow: #ffc971;
$white: #fff;
// font-colors
$dark-gray: #888888;
$black: #000;
$mainColor: #FFC971;

// font-sizes
$font-20: 20px;
$font-14: 14px;
$font-12: 12px;
$font-10: 10px;

//size
$page-size: 600px;
